In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
# Import the API key.
from config import g_key

In [2]:
%matplotlib inline

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gat,IL,2021-10-31 18:25:35,31.6100,34.7642,83.08,34,38,17.69
1,1,Hermanus,ZA,2021-10-31 18:19:06,-34.4187,19.2345,63.90,84,96,9.84
2,2,Ushuaia,AR,2021-10-31 18:19:29,-54.8000,-68.3000,56.86,41,0,0.00
3,3,Vaini,TO,2021-10-31 18:18:33,-21.2000,-175.2000,73.56,94,20,6.91
4,4,Khamamatyurt,RU,2021-10-31 18:25:39,43.6081,46.5006,50.02,89,96,10.04

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
city_data_no0_df = city_data_df[city_data_df["Max Temp"] >= 0]
city_data_no0_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gat,IL,2021-10-31 18:25:35,31.6100,34.7642,83.08,34,38,17.69
1,1,Hermanus,ZA,2021-10-31 18:19:06,-34.4187,19.2345,63.90,84,96,9.84
2,2,Ushuaia,AR,2021-10-31 18:19:29,-54.8000,-68.3000,56.86,41,0,0.00
3,3,Vaini,TO,2021-10-31 18:18:33,-21.2000,-175.2000,73.56,94,20,6.91
4,4,Khamamatyurt,RU,2021-10-31 18:25:39,43.6081,46.5006,50.02,89,96,10.04

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gat,IL,2021-10-31 18:25:35,31.6100,34.7642,83.08,34,38,17.69
13,13,Olinda,BR,2021-10-31 18:25:49,-8.0089,-34.8553,82.13,74,75,5.75
18,18,Gboko,NG,2021-10-31 18:25:53,7.3179,8.9951,82.20,66,100,6.82
35,35,Tucupita,VE,2021-10-31 18:26:08,9.0622,-62.0510,88.45,54,89,4.43
38,38,Georgetown,MY,2021-10-31 18:15:35,5.4112,100.3354,79.90,89,20,2.30
41,41,Puerto Leguizamo,CO,2021-10-31 18:26:14,-0.1934,-74.7819,79.03,78,100,2.26
42,42,Puerto Ayora,EC,2021-10-31 18:18:56,-0.7393,-90.3518,75.16,79,82,9.46
43,43,Takoradi,GH,2021-10-31 18:26:17,4.8845,-1.7554,79.93,84,93,12.55
44,44,La Peca,PE,2021-10-31 18:26:18,-5.6111,-78.4350,87.08,49,44,3.06
50,50,Dickinson,US,2021-10-31 18:27:26,29.4608,-95.0513,81.21,39,1,1.01

In [16]:
preferred_cities_df.count()

City_ID       147
City          147
Country       146
Date          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0                Gat      IL     83.08  31.6100   34.7642
13            Olinda      BR     82.13  -8.0089  -34.8553
18             Gboko      NG     82.20   7.3179    8.9951
35          Tucupita      VE     88.45   9.0622  -62.0510
38        Georgetown      MY     79.90   5.4112  100.3354
41  Puerto Leguizamo      CO     79.03  -0.1934  -74.7819
42      Puerto Ayora      EC     75.16  -0.7393  -90.3518
43          Takoradi      GH     79.93   4.8845   -1.7554
44           La Peca      PE     87.08  -5.6111  -78.4350
50         Dickinson      US     81.21  29.4608  -95.0513

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Gat,IL,83.08,31.6100,34.7642,OlusHome
13,Olinda,BR,82.13,-8.0089,-34.8553,Hotel Albergue de Olinda
18,Gboko,NG,82.20,7.3179,8.9951,Mavillah Apartment and Suites
35,Tucupita,VE,88.45,9.0622,-62.0510,Hotel Tucupita Su​ite C.A.
38,Georgetown,MY,79.90,5.4112,100.3354,Cititel Penang
41,Puerto Leguizamo,CO,79.03,-0.1934,-74.7819,la casona de juancho
42,Puerto Ayora,EC,75.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
43,Takoradi,GH,79.93,4.8845,-1.7554,Raybow International Hotel
44,La Peca,PE,87.08,-5.6111,-78.4350,Hospedaje San Miguelito
50,Dickinson,US,81.21,29.4608,-95.0513,Hampton Inn & Suites Houston/League City

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))